
{% extends "base.html" %}

{% block head %}

<script>
    $(function() {
      $( "#id_form_date_field" ).datepicker({ dateFormat:
                                            'yy-mm-dd'});
      });
    
    </script>

{% endblock %}

{% block body %}

<form action="." method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div>
        <fieldset class="module aligned ">
            
            <div class="form-row field-group">
                <div>
                    <label for="id_group" class="required">Group: </label>
                    <p id="id_group" name="group"> {{ uProfile.group.name }} </p>
                </div>
            </div>
            
            <div class="form-row">
                <div>
                    <label for="id_first_upload_due_date_0" class="required">First Upload due (meeting):</label>
                    <h3 style="color:red;"> <b> <i> {{ uProfile.group.presentation.first_due_date }} </i> </b> </h3>
                </div>
            </div>
            
            <div class="form-row">
                <div>
                    <label for="id_upload_due_date_0" class="required">Upload due:</label>
                    <h3 style="color:red;"> <b> <i> {{uProfile.group.presentation.upload_date}} </i> </b> </h3>
                </div>
            </div>
            
            <div class="form-row field-file">
                {{ form.presFile.errors }}
                {% if not documents %}
                <div>
                    <label for="id_file">File:</label>You haven't uploaded your presentation yet.
                    <br />Add: {{ form.presFile }}
                    
                    </p>
                </div>
                {% else %}
                <div>
                    <label for="id_file">File:</label>
                    <p class="file-upload"> Currently:
                    <a href="{{uProfile.group.presentation.pFile.url}}"> {{ uProfile.group.name }} upload  </a>
                    <br />Change: {{ form.presFile }}
                    
                    </p>
                </div>
                {% endif %}
            </div>
            
        </fieldset>
        
        <div class="submit-row">
            <input type="submit" value="Save" class="default" name="_save" />
        </div>
        
    </div>
</form>

{% endblock %}




